body{
    background-color: blue;
}
.test{
    margin: 3%;
    padding-left:45% ;
    background-color: rgb(13, 255, 0);
}
.test h1{
    color: grey;
}
.test h1:hover{
    color: red;
    transform: scale(1.3);
    transition: all 0.5 ease-out;
}
.banner{
    padding: 25px;
    background:
    url(https://hotwheels.mattel.com/Static/images/legendstour/garage_of_legends/HW_GOL_Banner_d__tm_1600x509px.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    height: 250px;
}
.content{
    margin: 5%;
    color: black;
    font-family: verdana;
    font-size: 18px;
}
div.gallery{
    background-color: white;
    float:left;
    width:300px;
    margin: 30px 5%;
}
div.gallery img{
    width:100%;
    height: 100%;
}
div.gallery img:hover{
    transform:scale(1.1) ;
    transition: width 0.8s ease-in-out;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
}
.cars{
    margin: 0 auto;
    width: 100%;
}